.body {
  flex: 1;
  border-radius: 30px;
  background-color: white;
  padding: 12px; 
  margin: 15px;
}

.body h1 {
  font-size: 15px;
  color: #333;
  margin-top: 1px;
}

.dropdown-container {
  display: flex;
  width: 100%;
}

.dropdown-item {
  flex: 1;
  margin-right: 20px;
}

.dropdown-item h2 {
  font-size: 10px;
  color: #555;
  margin-bottom: 10px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 20px;
}

.radio-container label {
  margin-right: 20px;
  font-size: 14px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */

}

.cancel-button,
.execute-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.execute-button {
  background-color: #333;
  color: #fff;
}