.app {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: margin-left 0.3s ease;
}

.full-width {
  margin-left: 0;
}

.toggle-sidebar {
  position: fixed;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 0 5px 5px 0;
  transition: left 0.3s ease;
}

.main.full-width + .toggle-sidebar {
  left: 0;
  border-radius: 5px 0 0 5px;
}
